.hero-wrapper{
  display: flex;
  position: relative;
}


.index-section--video-banner .hero--video .hero-content {
  text-align: left;
  z-index: 10;
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
}



.index-section--video-banner .hero--video .hero--video-html video {
  width: 100%;
}

.hero--video .hero-content__title {
  padding: 0px;
}

.hero--video .hero--video-html {
  position: absolute;
  z-index: 0;
}

@media only screen and (max-device-width: 480px) {
  .hero--video .hero--video-html {
    min-height: 50vh;
  }

  .hero--video .hero--video-html video {
    object-fit: cover;
    height: 100%;
    position: absolute;
  }
}

@media screen and (min-width: 750px) {
  .hero-content {
    padding: 5rem;
  }

  .hero-content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .hero-content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .hero-content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .hero-content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .hero-content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .hero-content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .hero-content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .hero-content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .hero-content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
